{% extends "layout.html" %}

{% block content %}
  <div class="content-section">
    <form action="" method="post">
      <!-- this adds a CSRF Token -->
      {{ reg_form.hidden_tag() }}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Now</legend>
        <div class="form-group">
          {{ reg_form.username.label(class="form-control-label") }}
          {{ reg_form.username(class="form-control form-control-lg") }}

        </div>
        <div class="form-group">
          {{ reg_form.email.label(class="form-control-label") }}
          {{ reg_form.email(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
          {{ reg_form.password.label(class="form-control-label") }}
          {{ reg_form.password(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
          {{ reg_form.confirm_password.label(class="form-control-label") }}
          {{ reg_form.confirm_password(class="form-control form-control-lg") }}
        </div>
      </fieldset
      <div class="form-group">
        {{ reg_form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign in</a>
      </small>
    </div>
  </div>


{% endblock content %}
